body{
    margin:0px;
    width:100%;
    height:100%;
    background-size: 100%;
}

.wrapper{
    position: absolute;
    width:100%;
    height:100%;
}

.content{
    background-color: #fff;
    color:#424242;
    font-family: Helvetica;
    position: relative;
    left: 8%;
    top:10%;
    padding:20px;
    width:400px;

    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.content h1{
    width:100%;
    display: block;
}

.project-list {
    padding: 0 0 0 40px;
    list-style: none;
}

.project-list li {
    margin: 0;
    padding: 0;
}

.link,
.link:hover{
    font-weight: bold;
    text-decoration: none;
}

.link {
    color:#424242;
    -webkit-transition-property:color;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: linear, ease-in;

    -moz-transition-property:color;
    -moz-transition-duration: 0.2s;
    -moz-transition-timing-function: linear, ease-in;
}

.link:hover{
    color:#000000;
}

.footer{
    position: absolute;
    bottom:10px;
    right:10px;
    font-size: 12px;    
}

.footer,
.footer a{
    color: #cbcbcb;
}